<a href="https://colab.research.google.com/github/Kenth963/Python/blob/main/4110E236_Midterm_ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#4 - A

In [1]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)

apple

#5 - E

In [2]:
students = { 'name' => 'alice' ;  'score' =>60 }

SyntaxError: ignored

In [3]:
students = { 'name' = 'alice' ;  'score' =60 }

SyntaxError: ignored

In [4]:
students = { 'name' : 'alice' ;  'score' : 60 }

SyntaxError: ignored

In [5]:
students = { 'name' => 'alice' ,  'score' =>60 }

SyntaxError: ignored

In [6]:
students = { 'name' : 'alice' , 'score' : 60 }

#6 - D

In [7]:
x = 5
y = "John"
print(x + y)

TypeError: ignored

#7 - A

In [8]:
13//5

2

In [9]:
13/5

2.6

In [10]:
13%5

3

In [11]:
y = int(2.8)

#8 - D

In [16]:
s=0
for i in range (3, 11) :
        s+=i
print(s)

52

#9 - C

In [17]:
a = "Hello, World!"
print(a[2:5]+ a[3:8])

llolo, W

#11 - D

In [19]:
list = [ ' a ' ,  ' b ' ,  ' c ' ,  ' d ' ,  ' e ' ]
print(list [ 1 : ])

[' b ', ' c ', ' d ', ' e ']

#12 - C

In [20]:
L1 = [ ]
L1.append ( [1, [2, 3], 4] )
L1.extend ( [7, 8, 9] )
print(L1[0][1][1] + L1[2] )

11

#14 - D

In [21]:
first = [1 , 2 , 3 , 4 , 5]
second = first
second.append (6)
print (first)
print (second)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

#18 - C

In [23]:
mylist = ["apple", "banana", "cherry"]
mylist.insert(1, "orange")
print(mylist)

['apple', 'orange', 'banana', 'cherry']

#21 - A

In [41]:
i = 1
while i < 6:
  print(i)
  if (i == 3):
    break
  i += 1

1
2
3

#22 - B

In [42]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

#24 - E

In [43]:
        r = lambda q: q * 2
        s = lambda q: q * 3
        x = 2
        x = r (x)
        x = s (x)
        x = r (x)
        print (x)

24

#25 - D

In [61]:
  def tri_recursion(k):
    if(k > 0):
      result = k + tri_recursion(k - 1)
      print(result)
    else:
      result = 0
    return result

  print("\n\nLast Line of the Output:")
  tri_recursion(6)

Last Line of the Output:
1
3
6
10
15
21

21